blockquote {
  color: green;
}

a[href^='https://']
{
  color: #f00;
}
a[href^='http://']
{
  color: #ff8d00;
}
ul + p {
  font-size: 26px;
}
a[title] {
  border: 1px solid #067b09;
}

h3 {
  color: pink;
}
div + h3 {
  color: initial;
}
#greycol {
  color: grey;
}
div.text-box div > p {
  color: red;
}
h3[title="text"] {
  color: blue;
}
h3[title="text"] + p {
  color: green;
}
.yellow {
  color: yellow;
}
